
@{
    ViewData["Title"] = "DeliveryInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content main-content-blog grid no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="trail-item trail-end active">
                            Delivery
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area content-blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <h3 class="custom_blog_title capi">
                        Delivery
                    </h3>
                    <div class="blog-list grid-style">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog-item">
                                    <div class="post-format">
                                        <a href="https://novaposhta.ua/ru/delivery" target="_blank">
                                            <img src="https://misto.media/wp-content/uploads/2019/05/Novaya-Pochta-perestanet-ispolzovat-penoplast.jpg" alt="novaposhta">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="category-blog">
                                            <a href="https://novaposhta.ua/ru/delivery" target="_blank">Нова Пошта</a>
                                        </div>
                                        <h3 class="post-title">
                                            <a href="https://novaposhta.ua/ru/delivery" target="_blank">Доставка «Нова пошта» по всей Украине</a>
                                        </h3>
                                        <div class="main-info-post">
                                            <p class="des">
                                                Вы можете получить товар в самых отдаленных уголках Украины.
                                                О прибытии заказа в отделение вы будете уведомлены SMS-сообщением «Новая Почта» с указанием номера накладной.
                                                Заказ будет бесплатно храниться в течение 3 рабочих дней.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog-item">
                                    <div class="post-format">
                                        <a href="https://calc.ukrposhta.ua/domestic-calculator" target="_blank">
                                            <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple123/v4/4b/12/30/4b1230c2-3b40-09c8-c57a-b2de2f1459b0/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-85-220.png/246x0w.png" alt="ukrposhta">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="category-blog">
                                            <a href="https://calc.ukrposhta.ua/domestic-calculator" target="_blank">Укрпошта</a>
                                        </div>
                                        <h3 class="post-title">
                                            <a href="https://calc.ukrposhta.ua/domestic-calculator" target="_blank">Доставка «Укрпошта» по всей Украине</a>
                                        </h3>
                                        <div class="main-info-post">
                                            <p class="des">
                                                Доставка в более, чем 11 000 отделений в 29 000 населенных пунктов Украины.
                                                В среднем, доставка занимает 2-5 дней.
                                                Отсутствует возможность расчета подарочным сертификатом.
                                                Стоимость доставки заказа в отделение будет составлять — 20 грн.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

