
    <form asp-action="AddFile" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" class="imgcoll"/><br>
        <input type="file" name="uploads" class="imgcoll"/><br>
        <input type="file" name="uploads" class="imgcoll"/><br>
        @*<input type="submit" value="Загрузить" />*@
    </form>
