@model IEnumerable<Domain.EF_Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="tab-container">
        <div id="bestseller" class="tab-panel active">
            <div class="tanajil-product">
                <ul class="row list-products auto-clear equal-container product-grid">
                    @foreach (var item in Model)
                     {
                        @await Html.PartialAsync("ProductPartial", item)
                     }
                </ul>
            </div>
        </div>
    </div>
